# Base URL of the app
NEXTAUTH_URL=https://dach-trier.com

# Used to encrypt the NextAuth.js JWT
#
# Can be generated using `npx auth secret`
NEXTAUTH_SECRET=

# Google Service Account Data
#
# In IAM & Admin, create a service account and generate a key for it. Copy the
# respective data from the downloaded json file here.
GOOGLE_PROJECT_ID=
GOOGLE_PRIVATE_KEY_ID=
GOOGLE_PRIVATE_KEY=
GOOGLE_CLIENT_EMAIL=
GOOGLE_CLIENT_ID=
GOOGLE_AUTH_URI=
GOOGLE_TOKEN_URI=
GOOGLE_AUTH_PROVIDERS_X509_CERT_URL=
GOOGLE_CLIENT_X509_CERT_URL=
GOOGLE_UNIVERSE_DOMAIN=

# Google Drive file and folders
GOOGLE_AUTHORIZED_EDITOR_FILE_ID=

# vim: ft=sh
