# Base URL of the app
NEXTAUTH_URL=https://dach-trier.com

# Used to encrypt the NextAuth.js JWT
#
# Can be generated using `npx auth secret`
NEXTAUTH_SECRET=

# In the Google Cloud Console, go to APIs & Services -> Credentials and create
# a new OAuth 2.0 Client ID. Once it’s generated, drop the credentials here.
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Controls whether the application is in maintenance mode. When enabled (true),
# the application will display a maintenance "page" to users.
MAINTENANCE=false

# vim: ft=sh
