/**
 * About
 */

.about {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about > h1 {
    font-size: 40px;
    font-weight: bold;
}

@media (min-width: 1024px) {
    .about > h1 {
        font-size: 60px;
    }
}

.about > p {
    font-size: 17px;
}

/**
 * Buttons
 */

.buttons {
    display: flex;
    align-items: center;
    gap: 50px;
}

.buttons > button {
    width: 120px;
    height: 40px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 4px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media (min-width: 360px) {
    .buttons > button {
        width: 130px;
        height: 45px;
    }
}

.join-button {
    color: white;
    background: var(--color-blue-500);
}

.support-button {
    color: white;
    background: var(--color-red-500);
    padding-right: 5px;
}

.logo {
    height: 100%;
}
