/**
 * <Header />
 */

.header {
    top: 0;
    z-index: 1000;
    position: sticky;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 12px;

    background: white;
}

.header > svg {
    height: 30px;
}

.header .links {
    display: none;
}

.header .donate {
    display: flex;
    gap: 8px;
}

.header .donate > * {
    color: var(--color-red-500);
}

.header .donate > svg {
    fill: var(--color-red-500);
    width: 30px;
    height: 30px;
}

.header .donate > span {
    display: none;
    margin-top: 3px;
}

@media (min-width: 768) {
    .header {
        justify-content: center;
        gap: 50px;
    }

    .header .links {
        display: flex;
        gap: 30px;
    }

    .header .donate > span {
        display: initial;
    }
}

/**
 * <Hero />
 */

.hero {
    width: fit-content;
    margin: 0 auto;
}

.hero > h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    margin: 0 auto;
}

.hero > p {
    max-width: 650px;
    padding: 0 30px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    color: #777;
    text-align: center;
}

.hero .button-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.hero .button-group > button {
    width: 200px;
    padding: 8px 0;
    outline: 2px solid var(--color-blue-600);
    border-radius: 8px;
}

.hero .button-group > :nth-child(1) {
    color: white;
    background: var(--color-blue-600);
}

.hero .button-group > :nth-child(2) {
    color: var(--color-blue-600);
    background: white;
}

@media (min-width: 440px) {
    .hero .button-group {
        flex-direction: row;
        gap: 50px;
    }

    .hero .button-group > button {
        width: fit-content;
        padding: 8px 30px;
    }
}

@media (min-width: 768px) {
    .hero > h1 {
        font-size: 36px;
    }

    .hero > p {
        font-size: 20px;
    }

    .hero button {
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    .hero > h1 {
        font-size: 45px;
    }

    .hero > p {
        font-size: 22px;
    }
}

/**
 * <Posts />
 */

.posts {
    width: 100vw;
}

.posts .slide {
    flex: 0 0 100%;
    aspect-ratio: 4 / 3;
    height: auto;
    padding: 0 20px;
}

.posts .slide > div {
    width: 100%;
    height: 100%;
    border: 2px solid #000;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
}

@media (min-width: 440px) {
    .posts .slide {
        flex: 0 0 400px;
    }
}

@media (min-width: 657px) {
    .posts .slide {
        flex: 0 0 600px;
        aspect-ratio: none;
        height: 300px;
    }
}

@media (min-width: 1024px) {
    .posts .slide {
        flex: 0 0 700px;
        height: 350px;
    }
}

/**
 * <Section />
 */

.section {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.section > .content {
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
}

.section > .content > h1 {
    font-size: 30px;
    font-weight: 600;
}

.section > .content > p {
}

.section > .slides {
    width: 100%;
}

.section > .slides .slide {
    flex: 0 0 100%;
    max-width: 310px;
    height: 560px;
    padding: 0 20px;
}

.section > .slides .slide > div {
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
}

@media (min-width: 330px) {
    .section > .slides .slide {
        padding: 0 0 0 20px;
    }
}

@media (min-width: 1024px) {
    .section {
        margin-top: 150px;
    }

    .section-left {
        flex-direction: row-reverse;
    }

    .section-right {
        flex-direction: row;
    }

    .section > .content {
        width: 55%;
    }

    .section > .content > h1 {
        font-size: 60px;
    }

    .section > .content > p {
        font-size: 18px;
    }

    .section > .slides {
        width: 45%;
    }

    .section > .slides .slide {
        padding: 0 20px;
    }
}

@media (min-width: 1280px) {
    .section {
        width: 95%;
    }

    .section-left {
        margin-right: auto;
    }

    .section-right {
        margin-left: auto;
    }

    .section > .content > h1 {
        font-size: 65px;
    }

    .section > .content > p {
        font-size: 20px;
    }
}

/**
 * <ContactUs />
 */

.contact-us {
    max-width: 85%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 32px;
}

.contact-us h1 {
    font-size: 40px;
    font-weight: 600;
}

.contact-us form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contact-us form > * {
    width: 100%;
    outline: 2px solid black;
    border-radius: 4px;
    padding: 8px 12px;
    box-sizing: border-box;
}

.contact-us form :nth-child(3) {
    min-height: 150px;
    display: flex;
    justify-content: flex-start;
}

.contact-us form :last-child {
    width: 200px;
    margin-top: 16px;
}

/**
 * <Footer />
 */

.footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;

    padding: 20px 40px;
    color: white;
    background: black;
}

@media (min-width: 768) {
    .footer {
        padding: 20px;
        flex-direction: row;
        justify-content: space-between;
    }
}
