@import "tailwindcss";

@theme {
    --breakpoint-xs: 300px;
    --breakpoint-s: 400px;
}

button {
    display: block;
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}
